---
import Navbar from '../components/Navbar.astro';
import Projects from '../components/Projects.astro';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Your New Slog</title>

	<link rel="icon" type="image/x-icon" href="https://emojicdn.elk.sh/%F0%9F%93%A6?style=google" />
	<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
 	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<main>
		<div class="lg:w-3/6 px-5 lg:px-0 m-auto mt-16 mb-16">
			<Navbar></Navbar>
			<p class="text-md mt-5">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et malesuada fames ac turpis egestas sed tempus. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Pharetra convallis posuere morbi leo urna molestie at elementum. Nunc sed velit dignissim sodales ut eu. Sem integer vitae justo eget magna fermentum iaculis eu. Volutpat maecenas volutpat blandit aliquam. Tellus molestie nunc non blandit. Ac turpis egestas sed tempus urna et pharetra pharetra massa. Integer eget aliquet nibh praesent tristique magna sit amet. Integer malesuada nunc vel risus commodo viverra. Ut sem nulla pharetra diam. Sed libero enim sed faucibus turpis in eu mi bibendum. Tortor vitae purus faucibus ornare suspendisse sed. Non tellus orci ac auctor. Semper feugiat nibh sed pulvinar proin. Tincidunt vitae semper quis lectus nulla.
			<br><br>
			Faucibus a pellentesque sit amet. Congue quisque egestas diam in arcu cursus euismod quis. Semper quis lectus nulla at volutpat diam. Senectus et netus et malesuada fames ac turpis egestas. Commodo odio aenean sed adipiscing. Est ante in nibh mauris cursus mattis molestie. Massa tincidunt dui ut ornare lectus sit. Id venenatis a condimentum vitae sapien. Blandit turpis cursus in hac habitasse platea dictumst quisque. Adipiscing bibendum est ultricies integer quis auctor elit sed. Ullamcorper malesuada proin libero nunc. Turpis cursus in hac habitasse. Nam aliquam sem et tortor consequat id porta nibh venenatis.</p>
			<br><hr><br>
			<Projects></Projects>
		</div>
	</main>
</body>
</html>
