---
let projects = [
    {
        name: "Test Project 1",
        emoji: "https://emojicdn.elk.sh/🎙️",
        desc: "Description for Test Project 1.",
        url: "https://example.com"
    }
]
---
<div id="test">
    {projects.map((item) => (
            <div class="bg-gray-100 border-gray-300 pt-3 pb-3 px-5 rounded w-full border mb-3">
            <div class="flex justify-between">
			    <div class="grid grid-flow-col auto-cols-max">
			    <div>
                    <img class="block w-7 mt-0.5 mr-4" src={item.emoji}>
                </div>
			    <div>
                    <h1 class="text-2xl font-bold">{item.name}</h1>
                </div>
			</div>
            </div>
            <p class="mt-2 text-md">{item.desc} Check it out <a href={item.url} target="_blank" class="underline hover:animate-pulse">here</a>.</p>
            </div>
    ))}
</div>